:root {
    --background-color-light: #f4f4f4;
    --background-color-dark: #333;
    --text-color-light: #333;
    --text-color-dark: #f4f4f4;
    --task-color: #fff;
    --task-completed-color: #d3d3d3;
}

body.light-theme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

#app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background-color: var(--task-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li.completed {
    background-color: var(--task-completed-color);
    text-decoration: line-through;
}

button {
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
